      
<section class="slice noPaddingBottom" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>About us</h1>
                <h2 class="subTitle">Who we are, what we do</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"> <img src="images/tree.jpg" alt="services" class="img-responsive"> </div>
            <div class="col-sm-4">
                <h2>Full Stack Development Firm</h2>

                <p>
                    Green Flag software is your single source software provider. Why is this a good thing? This is a good thing because it reduces the inherent friction between two or more providers and lends itself to a more cohesive solution. Aside from the aforementioned, simply put, it saves you money.
                </p>

                <p>
                    Green Flag provides systems integration with existing systems as well as complete start to finish implementations tailored to your business from the initial consultation, to post-delivery support. Whether your company has a concrete solution it seeks to implement, or you are seeking guidance on how to improve your processes and make them more efficient, Green Flag can deliver. 
                </p>
            </div>

            <div class="col-sm-4">
                <h2>Our Process</h2>
                <p> Our process starts with understanding the problem domain. We work closely with stakeholders of your team to synthesize a coherent specification. We realize the difficulties involved with “Big Up Front Design” and utilize an agile development process. We seek to deliver value early so you can be assured that the project is progressing. </p>
                <h3>Consultations</h3>
                <p> Whether you are seeking new or modifications to existing websites, desktop, LOB applications, mobile applications, media applications or systems integration, consultations are always free of charge and free of any obligation.  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 mt30 text-center">
                <div class="alert alert-info alert-dismissable">
                   
                    <strong>Are you an agency?</strong>&nbsp; Greenflag specializes in agency services to help keep your team on track. <a href="features.html" class="alert-link portfolioSheet">Find out more here.</a>
                </div>
            </div>
        </div>
        @*<div class="row mt30">
            <div class="col-md-8">
                <div class="jumbotron">
                    <div class="container">
                        <h2> You will fall in love with Ashley!</h2>
                        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <p><a class="btn btn-lg" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">Buy me now!</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-xs">
                <img src="images/theme-pics/home-girl.png" alt="Ashley, Bootstrap website template" class="img-responsive">
            </div>
        </div>*@
    </div>
</section>
