<section class="slice color4" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Our services</h1>
                <h2 class="subTitle">Proven Platforms and Frameworks, Cross Tier Development Set to Deliver</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <article class="boxFeature-2">
                    <i class="icon-briefcase iconBig"></i>
                    <h2>Line of Business Applications</h2>
                    <p>Applications tailored specifically for your business, employees, and processes</p>
                </article>
            </div>

            <div class="col-md-3 col-sm-6">
                <article class="boxFeature-2">
                    <i class="icon-cloud iconBig"></i>
                    <h2>Cloud Technologies</h2>
                    <p>Horizontally scaled data access, MapReduce, Transfer, Visualization</p>
                </article>
            </div>

            <div class="col-md-3 col-sm-6">
                <article class="boxFeature-2">
                    <i class="icon-basket  iconBig"></i>
                    <h2>E-Commerce</h2>
                    <p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>
                </article>
            </div>

            <div class="col-md-3 col-sm-6">
                <article class="boxFeature-2">
                    <i class="icon-flow-merge iconBig"></i>
                    <h2>Business Process Automation</h2>
                    <p>Workflows, end to end automation of complex business processes</p>
                </article>
            </div>

        </div>
    </div>
</section>
