<style>

</style>
<section class="slice" id="works">
    <div class="container imgHover">
        <div class="row">
            <div class="col-lg-12">
                <h1>Our Expertise</h1>
                <h2 class="subTitle">Complete Software Solutions...Full Stack Development</h2>
            </div>

            <article class="col-sm-4" data-nekoanim="fadeInLeftBig" data-nekodelay="100">

                <section class="imgWrapper">
                    <img src="/images/news/desktopApplications.png" class="img-responsive" alt="Desktop Application Development" />
                </section>

                <div class="mediaHover">
                    <div class="mask"></div>
                    <div class="iconLinks">

                        <a href="#desktopApplicationsPopup" class="open-popup-link" title="Zoom"><i class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
                    </div>
                </div>
                <section class="newsText color4">
                    <h3>Desktop</h3>
                    <p>Rich client applications help users to work more efficiently. When properly designed a good desktop application should be intuitive to reduce the learning curve associated with it. Desktop applications deliver features beyond what is sometimes pragmatic to present on the web.</p>
                    <a href="#desktopApplicationsPopup" class="btn btn-sm open-popup-link"><i class="icon-right-open-mini"></i>read more</a>
                </section>

            </article>


            <article class="col-sm-4" data-nekoanim="fadeInUp" data-nekodelay="200">
                <section class="imgWrapper">
                    <img src="/images/news/mobileApplications.png" class="img-responsive" alt="Mobile Application Development" />
                </section>
                <div class="mediaHover">
                    <div class="mask"></div>
                    <div class="iconLinks">
                        <a href="#mobileApplicationsPopup" class="open-popup-link" title="Zoom"><i class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
                    </div>
                </div>
                <section class="newsText color4">
                    <h3>Devices</h3>
                    <p>Native device (mobile phone, tablet, television) applications hold an advantage over applications targeting internet browsers in many instances because the frameworks allow access to powerful features not available in browser applications. </p>
                    <a href="#mobileApplicationsPopup" class="btn btn-sm open-popup-link"><i class="icon-right-open-mini"></i>read more</a>
                </section>
            </article>


            <article class="col-sm-4" data-nekoanim="fadeInRightBig" data-nekodelay="300">
                <section class="imgWrapper">
                    <img src="/images/news/webApplications.png" class="img-responsive" alt="Web Application Development" />
                </section>
                <div class="mediaHover">
                    <div class="mask"></div>
                    <div class="iconLinks">
                        <a href="#webApplicationsPopup" class="open-popup-link" title="Zoom"><i class="icon-search iconRounded iconBig"></i><span>zoom</span></a>
                    </div>
                </div>
                <section class="newsText color4">
                    <h3>Web</h3>
                    <p>Available on all connected devices with a browser, the internet is by far the easiest method of delivering content to users. When your organization demands more than mere content delivery, things become more complicated.</p>
                    <a href="#webApplicationsPopup" class="btn btn-sm open-popup-link"><i class="icon-right-open-mini"></i>read more</a>
                </section>
            </article>


        </div>
    </div>
    <div id="desktopApplicationsPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <img src="/images/news/desktopApplications_small.png" alt="Desktop Applications" />
                    <h2 class="subTitle">Desktop Applications</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>Rich client applications help users to work more efficiently. When properly designed a good desktop application should be intuitive to reduce the learning curve associated with it. Desktop applications deliver features beyond what is sometimes pragmatic to present on the web. Centralized installation, security, integration with network user accounts and groups and faster data access are some of the benefits that a desktop applications lend.</p>
                        <p>Green Flag Software utilizes the latest in desktop application technology and visualization. Leveraging XAML, Windows Presentation Framework, and Windows Store technologies, we can deliver intuitive, fluid applications that connect your company’s users. Contact us today to learn more about how Green Flag and our expertise in desktop applications may benefit your organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mobileApplicationsPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <img src="/images/news/mobileApplications_small.png" alt="Mobile Applications" />
                    <h2 class="subTitle">Devices</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>Native device (mobile phone, tablet, television) applications hold an advantage over applications targeting internet browsers in many instances because the frameworks allow access to powerful features not available in browser applications. Users on devices demand solutions that are geared to how they utilize the device. Generally speaking, users of these devices are likely not sitting in an office in front of a computer, they may be on the go, they may need quick access to only the most important information, but generally they still require some of the same interaction as users in front of a PC. </p>
                        <p>Perhaps it’s time for your organization to start thinking about television as a viable device. According to <a href="http://www.businessinsider.com/the-smart-tv-app-industry-5-2014-3"> Business Insider</a> 20% of US homes are already connected using a Smart TV or console (Xbox, PlayStation, Roku, etc...). It is certain that the future television viewing experience is set to change dramatically from where it is today. Relatively speaking, Smart TV is in its infancy, which is why it is so important to act now as these markets get cornered so quickly.</p>
                        <p>Our firm specializes in Windows Phone and Android OS based systems, for mobile phones, tablets, and smart TVs or consoles. We have a deep understanding of how to add value and minimize noise when dealing with the limitations of different devices. Contact us today to learn more about how Green Flag and our expertise in devices may benefit your organization</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="webApplicationsPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <img src="/images/news/webApplications_small.png" alt="Web Applications" />
                    <h2 class="subTitle">Web Applications</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>Available on all connected devices with a browser, the internet is by far the most widely used method of delivering content to users. When your organization demands more than mere content delivery, things become more complicated.</p>
                        <p>With thousands of frameworks and platforms available, deciding which one is right for your needs makes the word “complexity” a grand understatement. The choices made can effect performance, security, and the way your web application scales in the future. </p>
                        <p>Green Flag Software can develop a rich experience served to your users or customers that will make your company shine, and keep visitors coming back. We develop both internal applications and those served to the general public, each built with careful consideration on who the audience is, and what the application will be used for. Such targeting can never come from a box, and we focus on the level of detail required to achieve the greatest value.  Contact us today to learn more about how Green Flag and our expertise in web technologies may benefit your organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--popup content-->
