<section id="about" class="slice">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Our Partnership</h1>
                <h2 class="subTitle">Momentum, Reliability, Value</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
         
                <p>Our goal is to help keep the project moving in tandem with your team. We focus our efforts to minimize the friction encountered when dependencies of a solution with different development timeframes would typically cause delays. We make heavy use of API and framework method stubs to serve as stand ins for your team to develop against until the implementation is completed. While your team develops against these stubs, we complete the implementation, in strict conformity with the stubs so that integration is seamless when completed, “It Just Works”.</p>
                <p>
                    We are not afraid to dig in, often there are requirements that can be approached numerous ways. Perhaps the solution requires access to a payment gateway or third party API, perhaps an e-commerce, or CRM platform is needed, we can bear some of the load of setting up accounts and sandbox environments so that different approaches can be investigated. 
                </p>
                <p>
                    Aside from assisting in the creation a working solution, we also have experience keeping a solution working with a number of testing frameworks. We have experience with UI testing frameworks such as Jasmine and Selenium, as well as application testing frameworks like NUnit, JUnit, and MSTest. Such tests allow greater visibility into complicated scenarios surrounding feature and change requests, and help answer the questions, “is it working” and “is it finished”.
                </p>
                <p>
                    With so many aspects of development that can cause delays, it’s important to have a reliable resource to mitigate these concerns. <strong>Greenflag’s Agency Services</strong> will add momentum and value to your development cycle, and help free up your team so they can focus on their areas of expertise.
                </p>
            </div>
         
        </div>
   


    </div>
</section>

