<section id="agencyServices" class="slice">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-12">
                <h1>Agency Services</h1>
                <h2 class="subTitle">Development in Tandem with Your Team</h2>
            </div>
            <article class="col-sm-4 boxContent text-center">

                <a class="open-popup-link" href="#apiDevelopomentPopup">
                    <i class="icon-wrench iconRounded iconBig col-sm-offset-4"></i></a>

                    <h3>Custom API Development</h3>

                    <p>
                        Need an API to connect with client or server side code? We develop rich APIs using a number of protocols such as REST, HTTP, and OData to communicate with applications via JSON or XML. We utilize tools like apiary.io to provide your team with access to a stub API in very little time.
                        <a class="open-popup-link" href="#apiDevelopomentPopup">→ read more</a>

                    </p>


</article>
            <article class="col-sm-4 boxContent text-center">

                <a class="open-popup-link" href="#workflowsPopup">
                    <i class="icon-flow-merge iconRounded iconBig col-sm-offset-4"></i></a>
                    <h3>Workflows</h3>

                    <p>
                        When a business process is long running, workflows are often enlisted to maintain certain states of data. For example, a typical order in an e-commerce system may require registration of a user, authorization of a credit card, notification to an order fulfilment provider, and delivery notification from the postal service all at different times in the order cycle.
                        <a class="open-popup-link" href="#workflowsPopup">→ read more</a>
                    </p>

</article>
            <article class="col-sm-4 boxContent text-center">

                <a class="open-popup-link" href="#programmingPopup">
                    <i class="icon-cog-outline iconRounded iconBig col-sm-offset-4"></i></a>
                    <h3>Programming</h3>

                    <p>
                        We offer programming in C#, Java, JavaScript, and SQL. We have experience developing multi-threaded server applications, database stored procedures and triggers and NodeJS JavaScript server side modules.
                        <a class="open-popup-link" href="#programmingPopup">→ read more</a>
                    </p>

</article>
            <article class="col-sm-4 boxContent text-center">

                <a class="open-popup-link" href="#systemsIntegrationPopup">
                    <i class="icon-puzzle-outline iconRounded iconBig col-sm-offset-4"></i></a>
                    <h3>Systems Integration</h3>

                    <p>
                        Often a client wishes to integrate a new website or platform with internal systems the company is already using. We are skilled systems integrators. Whether the need is as simple as database connectivity or a more complex scenario like sharing data between your application and Microsoft SharePoint or Dynamics CRM, we bring experience to the table.
                        <a class="open-popup-link" href="#systemsIntegrationPopup">→ read more</a>
                    </p>

</article>
            <article class="col-sm-4 boxContent text-center">

                <a class="open-popup-link" href="#ecommercePopup">
                    <i class="icon-basket iconRounded iconBig col-sm-offset-4"></i>
                </a>
                    <h3>E-Commerce and Payment Integration</h3>

                    <p>
                        We have experience with e-commerce solutions, both custom and off the shelf. We have developed custom modules for platforms such as Magento, NOP Commerce, and Able Commerce to name a few.
                        <a class="open-popup-link" href="#ecommercePopup">→ read more</a>
                    </p>

</article>
            <article class="col-sm-4 boxContent text-center">

                <a class="open-popup-link" href="#qaPopup">
                    <i class="icon-ok-outline iconRounded iconBig col-sm-offset-4"></i></a>
                    <h3>Quality Assurance</h3>

                    <p>
                        As applications become more complex and incur changes, it is often difficult to get a bird’s eye view as to whether the code is performing as intended, or that a change in one area, did not inadvertently affect another area. This is where testing comes into play.
                        <a class="open-popup-link" href="#qaPopup">→ read more</a>
                    </p>

</article>

        </div>
    </div>
    <!--popup content-->
    <div id="apiDevelopomentPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <i class="icon-wrench  iconBig"></i>

                    <h2 class="subTitle">Custom API Development</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>Need an API to connect with client or server side code? We develop rich APIs using a number of protocols such as REST, HTTP, and OData to communicate with applications via JSON or XML. We utilize tools like apiary.io to provide your team with access to a stub API in very little time. We build our APIs with familiarity in mind, through HTTP verbs and naming conventions, your developers will quickly recognize the pattern which will help them become familiar with the operations quicker. We provide built in documentation through markdown syntax to serve as an instant reference for your team. We have experience with many third party APIs such as payment providers, social media, Google and AWS to name a few. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="workflowsPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <i class="icon-flow-merge iconBig"></i>

                    <h2 class="subTitle">Workflows</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>When a business process is long running, workflows are often enlisted to maintain certain states of data. For example, a typical order in an e-commerce system may require registration of a user, authorization of a credit card, notification to an order fulfilment provider, and delivery notification from the postal service all at different times in the order cycle. Trying to coordinate these steps can be wrought with complexity and often lead to “spaghetti code”. Windows Workflow Foundation was designed with this in mind. </p>
                        <p>Windows Workflow Foundation (WF) provides a rich toolkit to manage durable states during long running processes (transactions that survive even when there is a system crash, and can be recovered in a consistent state) and provides integration via Windows Communication Foundation (for remote messaging) and runtime hosting (in process). The toolkit allows for complex processes that maintain state to be organized and designed visually. By dragging sub processes around on a visual flowchart, adding conditional logic, making changes, or adding new sub processes all can be completed with relative ease. Perhaps the best thing is that workflows are visually represented instead of buried in code, so it is much easier to ascertain and share what is actually happening with a process.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="programmingPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <i class="icon-cog-outline iconBig"></i>

                    <h2 class="subTitle">Programming</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>We offer programming in C#, Java, JavaScript, and SQL. We have experience developing multi-threaded server applications, database stored procedures and triggers and NodeJS JavaScript server side modules. In addition to server side code, we have experience with client side JavaScript using some of the most popular frameworks such as JQuery, Angular, and Knockout. When practical, we utilize a test driven development approach so that we can measure quality, progress and stability. We are extremely skilled developers and problem solvers and we have confidence that you will agree.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="systemsIntegrationPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <i class="icon-puzzle-outline iconBig"></i>

                    <h2 class="subTitle">Systems Integration</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>Often a client wishes to integrate a new website or platform with internal systems the company is already using. We are skilled systems integrators. Whether the need is as simple as database connectivity or a more complex scenario like sharing data between your application and Microsoft SharePoint or Dynamics CRM, we bring experience to the table. We can build seamless APIs or layers that encapsulate the integration so that your team can focus on developing the new website or platform. We no longer live in an environment where applications are isolated from one another. Applications are expected to communicate with each other, share data, and leverage resources. With our systems integration experience, we can make applications talk, and share and function in concert.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="ecommercePopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <i class="icon-basket iconBig"></i>

                    <h2 class="subTitle">E-Commerce and Payment Integration</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>We have experience with e-commerce solutions, both custom and off the shelf. We have developed custom modules for platforms such as Magento, NOP Commerce, and Able Commerce to name a few. We are familiar with all aspects of e-commerce, including the complexities of collecting and reporting on state sales tax, address verification, shipping integration with the major carriers, affiliates, recurring billing and order fulfillment.  </p>
                        <p>In addition to e-commerce, we have integrated many different payment providers and gateways, some popular like Authorize.NET and PayPal, and others, not so much. We have enough experience in payment systems that we are not afraid to take on new or more obscure providers that we have not worked with. It all feels familiar. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="qaPopup" class="info-popup mfp-hide">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="popup-header">
                    <i class="icon-ok-outline iconBig"></i>

                    <h2 class="subTitle">Quality Assurance</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="popup-content">
                        <p>As applications become more complex and incur changes, it is often difficult to get a bird’s eye view as to whether the code is performing as intended, or that a change in one area, did not inadvertently affect another area. This is where testing comes into play. System Testing, Integration Testing, Unit Testing and UI Automation Testing can help to mitigate the chance of unexpected performance of application due to design or a change.</p>
                        <p>Enter the main problem. We know we should automate testing, but it’s simply not sexy, and it can be a hard sell to those unfamiliar with software development, because it may add time to the deadline and because there is no visibility, it is often looked upon as wasting time (why don’t you just write code that works and skip the testing? RIGHT?). Clients want software that works, but often do not understand the need for investment in testing in the early stages, and how it keeps the application stable in the long run. </p>
                        <p>We are experienced test writers. While your team continues to make progress, we can write QA tests using frameworks such as Jasmine, Selenium, Nunit, JUnit, MS Test. We can write tests in parallel with your team’s development efforts so that testing and writing tests, need not add additional time to the project. End result, you get to develop rapidly, and we can give you added confidence that it functions, and continues to function as expected. It’s a win-win situation.</p>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--popup content-->
</section>