<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Software Development Company, Mobile Development | Greenflag Software</title>
    <meta name="description" content="Greenflag Software is a full-service software development company providing mobile, desktop, web and cloud solutions.">
    <meta name="keywords" content="Tampa Software Development, software development outsourcing tampa, custom software development tampa, sharepoint development, Tampa E-Commerce, Tampa Web Site Development Firm, Tampa Custom Software, Software Development Firm">
    <meta property="og:image" content="http://greenflagsoftware.com/images/GFLogoFlagOG.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="162">
    <meta property="og:image:height" content="99">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- web font  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="/js-plugin/animation-framework/animate.css" />
    <link rel="stylesheet" type="text/css" href="/js-plugin/magnific-popup/magnific-popup.css" />
    <link type="text/css" rel="stylesheet" href="/js-plugin/isotope/css/style.css">
    <link rel="stylesheet" type="text/css" href="/js-plugin/flexslider/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="/js-plugin/pageSlide/jquery.pageslide.css" />
    <!-- Owl carousel-->
    <link rel="stylesheet" href="/js-plugin/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/js-plugin/owl.carousel/owl-carousel/owl.theme.css">
    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="/font-icons/custom-icons/css/custom-icons.css">
    <link type="text/css" rel="stylesheet" href="/font-icons/custom-icons/css/custom-icons-ie7.css">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="/css/layout.css">
    <link type="text/css" id="colors" rel="stylesheet" href="/css/green.css">
    <link type="text/css" rel="stylesheet" href="/css/custom.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="/js/modernizr-2.6.1.min.js"></script>
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49582005-1', 'greenflagsoftware.com');
        ga('send', 'pageview');

    </script>
</head>
<body data-spy="scroll" data-target="#scrollTarget" data-offset="150" id="fullScreen">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <img src="/images/theme-pics/loader.gif" alt="" /><h1 class="noSubtitle">Welcome</h1>
        </div>
    </div>
    <!-- Preloader -->
    <!-- Primary Page Layout
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <!-- header -->
        <header id="mainHeader" class="navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="/"><img src="/images/logoMain.png" alt="Ashley website template" /></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="#homeFullScreen"><i class="icon-home-outline"></i>Home</a> </li>
                            <li><a href="#about"><i class="icon-star"></i>About</a> </li>
                            <li><a href="#services"><i class="icon-thumbs-up"></i>Services</a> </li>
                            <li><a href="#works"><i class="icon-popup-1"></i>Works</a> </li>
                            <li><a href="#technologies"><i class="icon-cog-outline"></i>Techologies</a> </li>
                            <li><a href="#contactSlice"><i class="icon-mail"></i>Contact</a> </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </header>
        <!-- header -->
        @RenderBody()
        <!-- content -->
        <!-- footer -->
        <footer>
            <section id="mainFooter">
                <div class="container" id="footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footerWidget" data-nekoanim="fadeIn" data-nekodelay="100">
                                <img src="/images/logoSmall-flag.png" alt="" id="footerLogo">
                                <p><a href="http://www.greenflagsoftware.com" title="Green Flag Software">Green Flag Software</a> is a full service software development firm. We build applications for a variety of industries, delivering innovative solutions on desktop, server, devices and web platforms. We utilize industry proven technologies and frameworks to deliver nothing short of the best.</p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="footerWidget" data-nekoanim="fadeIn" data-nekodelay="300">

                                <h3>Green Flag</h3>
                                <address>
                                    <p>
                                        <i class="icon-phone"></i>&nbsp;1-800-869-4754<br>
                                        <i class="icon-mail-alt"></i>&nbsp;<a href="mailto:inquiries@greenflagsoftware.com">inquiries@greenflagsoftware.com</a>
                                    </p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <section id="footerRights">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Copyright © 2014&nbsp;<a href="http://www.greenflagsoftware.com" target="blank">Green Flag Software</a> / All rights reserved.</p>
                    </div>
                    <div class="col-sm-6">
                        <ul class="socialNetwork pull-right">
                            <li><a href="https://www.facebook.com/greenflagsoftware" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
                            <li><a href="https://twitter.com/GreenFlagSoft" class="tips" title="follow me on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a></li>
                            <li><a href="https://plus.google.com/106133752384016724857/posts" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                            <li><a href="https://www.linkedin.com/pub/greenflag-software/8b/6a2/30a/" target="_blank" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End footer -->

    </div>
    <!-- global wrapper -->
    <!-- End Document
    ================================================== -->
    <script type="text/javascript" src="/js-plugin/respond/respond.min.js"></script>
    <script type="text/javascript" src="/js-plugin/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js-plugin/easing/jquery.easing.1.3.js"></script>

    <script type="text/javascript" src="/js-plugin/flexslider/jquery.flexslider-min.js"></script>

    <script type="text/javascript" src="/js-plugin/isotope/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/js-plugin/neko-contact-ajax-plugin/js/jquery.form.js"></script>
    <script type="text/javascript" src="/js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js-plugin/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/js-plugin/parallax/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="/js-plugin/parallax/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="/js-plugin/parallax/js/jquery.stellar.min.js"></script>
    <!-- <script type="text/javascript" src="js-plugin/smoothscroll/SmoothScroll.js"></script> -->
    <script type="text/javascript" src="/js-plugin/pageSlide/jquery.pageslide-custom.js"></script>
    <script type="text/javascript" src="/js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js"></script>

    <script type="text/javascript" src="/js-plugin/owl.carousel/owl-carousel/owl.carousel.min.js"></script>


    <!-- Custom  -->
    <script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>
