
<div class="container" id="nopCommerce">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="@Url.Content("~/images/technologies/nopCommerce-small.png")" alt="NOPCommerce">
        </div>
        <div class="col-xs-12">
            <h2 class="subTitle">Custom NOPCommerce Development, and API Integrations</h2>
        </div>
    </div>
   
  

    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="@Url.Content("~/images/promotions/nopCommerce-screen.png")" alt="NOPCommerce" style="display: inline" class="img-responsive">
        </div>

            <div class="col-xs-12">

                <hr />
            </div>
 

        <div class="col-xs-12 col-sm-6 text-center">
            <h2>Existing Implementations</h2>
            <p style="text-align: justify">
                Already have a NOPCommerce implementation, but need additional features? Greenflag Software can help extend your current solution with customization suited to fit your specific needs. Whether you are looking for a custom payment provider integration, administration features, theming, or any other type of feature imaginable, Greenflag can help. We have extensive knowledge of the NOPCommerce core framework and plugin development.
            </p>
            <p style="text-align: justify">
                Our developers are committed to following framework guidelines so that additional features fit in seamlessly with existing integrations, without modifications of the core NOP framework. NOPCommerce provides a pluggable architecture, allowing custom modules to be installed and uninstalled without impacting the integrity of the base installation. When customizing solutions for customers, we focus on adherence to the pluggable framework, to preserve the structure of the application as well as maintain upgrade compatibility when new versions of NOPCommerce are released.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <h2>Starting From Scratch</h2>
            <p style="text-align: justify">Don’t have an E-Commerce platform already? Have you considered NOP Commerce? Greenflag can get your business up and running quickly with a NOPCommerce implementation. NOPCommerce is a highly scalable and customizable solution allowing your business to support E-Commerce operations. NOPCommerce provides support for multiple payment providers out of the box. NOPCommerce was designed with customization in mind. With its pluggable framework, integrations with existing technologies can be easily achieved, by building upon a structured codebase. </p>
            <p style="text-align: justify">Greenflag has a wide range of experience with the setup and customization of NOPCommerce. We have integrated custom payment providers, order fulfillment strategies with third parties, extended all aspects of the user interface, and much more. Before you decide on your E-Commerce strategy, make sure to contact Greenflag Software for a free evaluation.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">

            <hr />
        </div>
    </div>
</div>
