@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<section id="promotion" class="slice">
    <!-- content -->
    @Html.Partial("_NOPCommerce")
    <!-- content -->

</section>


@Html.Partial("_Contact")